:root {
    --clr-pri: #d5ac4e;
    --clr-sec: #8b6220;
    --clr-bg: #eecf6d;
    --clr-tit-pri: #45050c;
    --clr-tit-sec: #720e07;
}


body {
    background-color: var(--clr-bg);
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    min-height: 100dvh;
}


header {
    position: fixed;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--clr-bg);


    .logo {
        margin: auto;
        text-align: center;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 5rem;
        padding: 1rem;
        
    }

    .logo_link {
        padding: 15px;
        border-radius: 1rem;
        background-color: var(--clr-sec);
        text-decoration: none;
        color: var(--clr-tit-pri);

    }
}

.main {
    text-align: center;
    margin-top: 124px;
    padding: 1rem;
    background-color: var(--clr-bg);

    .opt{
        text-align: center;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-size: 2rem;
        padding: 1rem;
    }

    .opt_link{
        padding: 15px;
        border-radius: 1rem;
        background-color: var(--clr-pri);
        text-decoration: none;
        color: var(--clr-tit-sec);
    }  
}

.title {
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 1rem;
    background-color: var(--clr-pri);
    text-decoration: none;
    color: var(--clr-tit-sec);
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.addexpense {
    grid-column-start: 1;
    grid-column-end: 4;
}
.meny {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
}

.expense_history {
    grid-column: 1fr;
}
.mini_meny {
    grid-column: 1fr;
}

input {
    border: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    background-color: var(--clr-pri);
    outline: none;
}

select {
    border: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    background-color: var(--clr-pri);
} 

:focus::placeholder{
    color: transparent
}

::placeholder {
    color: var(--clr-tit-pri);
    transition: color .3s ease;
}

input[type="date"] {
    color: var(--clr-tit-pri);
    padding: 11.5px;
}

select {
    color: var(--clr-tit-pri);
}